.channel-body {
    color: white;
    background: linear-gradient(
        #2f2f2f 0px,
        #2f2f2f 790px,
        rgb(0, 0, 0) 1px,
        #2f2f2f 800px,
        #2f2f2f 100%
    );
    margin: 4px;
    border-radius: 7px;
    width: 86px;
    height: 950px;
    position: relative;
    touch-action: none;
}

.channel-body.ignore-on {
    background: linear-gradient(
        #575757 0px,
        #636363 790px,
        rgb(0, 0, 0) 1px,
        #636363 800px,
        #414141 100%
    );
}

.channel-body.mute-on {
    background: linear-gradient(
        #202020 0px,
        #202020 790px,
        rgb(0, 0, 0) 1px,
        #2f2f2f 800px,
        #2f2f2f 100%
    );
}

.channel-gain-label {
    color: #777777;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

.channel-pgm-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 37px;
    color: white;
    height: 90px;
    width: 80px;
    font-size: 105%;
    background-color: rgb(66, 27, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pgm-button.on {
    background-color: red;
}

.channel-pgm-button.mute {
    opacity: 0.3;
    color: rgb(117, 117, 117);
}

.channel-vo-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    color: white;
    height: 90px;
    width: 80px;
    font-size: 105%;
    background-color: rgb(66, 54, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-vo-button.on {
    background-color: rgb(207, 135, 1);
}

.channel-vo-button.mute {
    opacity: 0.3;
    color: rgb(117, 117, 117);
}

.channel-pst-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 22px;
    color: white;
    height: 90px;
    width: 80px;
    font-size: 103%;
    background-color: rgb(88, 88, 88);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
    margin-bottom: 0;
}

.channel-pst-button.on {
    background-color: rgb(124, 0, 0);
}

.channel-pst-button.vo {
    background-color: rgb(163, 106, 0);
}

.channel-mute-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    color: rgb(109, 108, 108);
    height: 50px;
    width: 80px;
    font-size: 90%;
    background-color: rgb(44, 44, 44);
    border-radius: 7px;
    border-color: rgb(109, 108, 108);
}

.channel-mute-button.on {
    background-color: rgb(168, 168, 168);
    color: rgb(48, 48, 48);
}

.channel-ignore-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    color: rgb(109, 108, 108);
    height: 50px;
    width: 80px;
    font-size: 90%;
    background-color: rgb(44, 44, 44);
    border-radius: 7px;
    border-color: rgb(109, 108, 108);
}

.channel-ignore-button.on {
    background-color: rgb(168, 168, 168);
    color: rgb(1, 12, 114);
}

@keyframes pfl-active-flash {
    0% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50.0001% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
    100% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
}

.channel-strip-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-top: 5px;
    margin-right: 3px;
    color: white;
    height: 50px;
    width: 80px;
    font-size: 105%;
    background-color: rgba(39, 39, 39, 0.308);
    border-radius: 7px;
    border-color: rgba(99, 99, 99, 0.301);
}

.channel-volume-fader {
    width: 10px;
    height: 400px;
    margin-left: 55px;
    margin-top: 30px;
    background-color: rgb(15, 15, 15);
    border-color: rgba(0, 0, 0);
}

:focus {
    outline: 0;
}

.channel-zero-indicator {
    color: rgb(134, 134, 134);
    position: absolute;
    top: 214px;
    left: 37px;
}

.not-found::before {
    content: ' ';
    z-index: 10;
    position: absolute;
    background-color: black;
    width: 86px;
    height: 950px;
    opacity: 0.65;
}
