.channels-body {
    display: flex;
    flex-direction: row;
    background-color: black;
    min-height: 760px;
    margin-top: 22vh;
}

.channels-mix-body {
    position: fixed;
    z-index: 2;
    right: -4px;
    padding-right: 0px;
    width: 100px;
    min-height: 950px;
    color: white;
    background: linear-gradient(#2f2f2f 0px,#2f2f2f 790px, rgb(0, 0, 0) 1px, #2f2f2f 800px, #2f2f2f 100%);
    margin: 4px;
    border-radius: 9px;
    border-color: rgb(80, 80, 80);
    border-style: solid;
    border-width: 1px;
}

.channels-show-mixer-online {
    outline : none;
    -moz-outline : none;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 90px;
    border-color: rgb(71, 71, 71);
    background-color: rgb(219, 1, 1);
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 10px;
    border-radius: 7px;
}

.channels-show-mixer-online.connected {
    background-color: rgb(9, 107, 0);
    color: white;
}

.channels-show-snaps-button {
    outline : none;
    -moz-outline : none;
    color: white;
    height: 60px;
    width: 90px;
    border-color: rgb(71, 71, 71);
    background-color: rgb(53, 53, 53);
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 10px;
    border-radius: 7px;
}


.channels-show-settings-button {
    outline : none;
    -moz-outline : none;
    color: white;
    height: 60px;
    width: 90px;
    border-color: rgb(71, 71, 71);
    background-color: rgb(53, 53, 53);
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 10px;
    border-radius: 7px;
}


.channels-show-storage-button {
    outline : none;
    -moz-outline : none;
    color: white;
    height: 60px;
    width: 90px;
    border-color: rgb(71, 71, 71);
    background-color: rgb(53, 53, 53);
    margin-left: 5px;
    margin-right: 4px;
    margin-top: 10px;
    border-radius: 7px;
}


.channels-mix-button {
    outline : none;
    -moz-outline : none;
    color: white;
    height: 90px;
    width: 90px;
    border-color: rgb(139, 139, 139);
    background-color: rgb(65, 65, 65);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 50px;
    border-radius: 7px;
}


.channels-clear-button {
    outline : none;
    -moz-outline : none;
    color: white;
    height: 90px;
    width: 90px;
    border-color: rgb(99, 99, 99);
    background-color: rgb(19, 19, 19);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 50px;
    border-radius: 7px;
}

.channels-snap-mix-body {
    margin-top: 58px;
}

.channels-snap-mix-line {
    margin-top: 4px;
    background-color: #2b2b2b;
}

.channels-snap-mix-button {
    outline : none;
    -moz-outline : none;
    background-color: rgb(199, 202, 0);
    color: rgb(44, 44, 44);
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 25px;
    width: 60px;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
    white-space: nowrap;
}

.channels-snap-mix-line:last-of-type {
    margin-bottom: 51px;
}
