.chstrip-full-body {
    justify-content: space-evenly;
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    overflow: auto;
    background-color: rgb(36, 36, 36);
    border-color: rgb(149, 149, 149);
    border-style: solid;
    border-width: 4px;
    border-radius: 8px;
    text-align: left;
    z-index: 2;
    color: #fff;
}

.ch-strip-full-header {
    margin-left: 5vw;
    margin-top: 1vh;
    margin-right: 10vw;
    /* width: 420px; */
    font-size: 3vh;
    white-space: nowrap;
}

.chstrip-full-parameters {
    display: flex;
    justify-content: left;
    top: 2vh;
    left: 2vw;
    height: 30vh;
    overflow: auto;
    font-size: 1.5vh;
    text-align: center;
}

.chstrip-full-eq-window {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vh;
    text-align: center;
}

.chstrip-full-parameter-text {
    list-style-type: none;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.5vh;
}

.chstrip-full-content-group {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.chstrip-full-content {
    display: flex;
    flex-direction: row;
}

.chstrip-full-parameter-reduction {
    list-style-type: none;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.5vh;
    margin-left: 3vw;
}

.chstrip-full-mini-text {
    list-style-type: none;
    text-align: center;
    max-width: 9vw;
    margin-top: 1vh;
    font-size: 0.8vh;
}

.chstrip-full-zero-comp {
    width: 1vw;
    height: 0.2vh;
    margin-left: -6.5vw;
    margin-top: 15vh;
    font-size: 0.8vw;
}

.chstrip-full-zero-monitor {
    width: 1vw;
    height: 0.2vh;
    margin-left: 3.5vw;
    margin-top: -12vh;
}

.chstrip-full-parameter-text > .parameter-button-text {
    list-style-type: none;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.2vh;
}

.chstrip-full-parameter-text > .parameter-button {
    margin-left: -8vw;
    margin-top: 2vh;
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    height: 4vh;
    width: 4vw;
    font-size: 1.2vh;
    background-color: rgb(80, 80, 80);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.chstrip-full-delay-buttons {
    margin-top: 3vh;
    margin-left: 1vw;
}
.noDelayButtons {
    margin-top: 24px;
    min-height: 220px;
}

.chstrip-full-delay-buttons > .delayTime {
    outline: none;
    -moz-outline: none;
    color: white;
    height: 5vh;
    width: 4vw;
    border-color: rgb(71, 71, 71);
    background-color: rgb(53, 53, 53);
    margin-left: 0vw;
    margin-top: 1vh;
    border-radius: 7px;
}

.chstrip-full-content > .input-buttons {
    width: 30px;
    margin-top: 24px;
    margin-left: 50px;
}
.chstrip-full-content > .input-buttons.disabled {
    visibility: hidden;
}

.input-buttons > .input-select {
    outline: none;
    -moz-outline: none;
    color: white;
    height: 62px;
    width: 70px;
    border-color: rgb(71, 71, 71);
    background-color: rgb(53, 53, 53);
    margin-left: -50px;
    margin-top: 5px;
    border-radius: 7px;
}
.input-buttons > .input-select.active {
    background-color: #2f475b;
}

.chstrip-full-monitor-sends {
    list-style-type: none;
    display: flex;
    text-align: center;
    margin-top: 2vh;
    min-width: 20vw;
}

.chstrip-full-monitor-text {
    list-style-type: none;
    text-align: center;
    margin-top: 2vh;
    font-size: 1.5vh;
    margin-left: -5vw;
}

.ch-strip-full-header > .close {
    position: absolute;
    outline: none;
    border-color: rgb(99, 99, 99);
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
    color: #fff;
    width: 5vh;
    height: 5vh;
    font-size: 2vw;
    right: 3vw;
}

.ch-strip-full-header > .button {
    outline: none;
    border-color: rgb(99, 99, 99);
    background-color: rgb(27, 27, 27);
    border-radius: 7px;
    margin-left: 3vw;
    width: 10vw;
    height: 4vh;
    font-size: 0.8vw;
}

.chstrip-full-fader {
    width: 0.5vw;
    height: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3vh;
    border-width: 0px;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(17, 17, 17);
}
.chstrip-full-thumb {
    margin-left: -1.2vw;
    color: #3a3a3a;
    font-size: 1vh;
    line-height: 4vh;
    width: 3vw;
    height: 4vh;
    border: 1px solid #c5c2c2;
    border-radius: 0.4vw;
    background: linear-gradient(
        to top,
        #3a3a3a 0%,
        #c2c2c2 20%,
        hsl(0, 0%, 57%) 50%,
        #00a 1px,
        #919191 52%,
        #c2c2c2 80%,
        #3a3a3a 100%
    );
}
