.channel-body {
    color: white;
    background: linear-gradient(
        #2f2f2f 0px,
        #2f2f2f 790px,
        rgb(0, 0, 0) 1px,
        #2f2f2f 800px,
        #2f2f2f 100%
    );
    margin: 4px;
    border-radius: 7px;
    height: 950px;
    position: relative;
    touch-action: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.channel-body > .channel-props {
    display: flex;
    flex-direction: column;
}
.channel-body > .channel-props,
.channel-body > .out-control,
.channel-body > .channel-control {
    flex-grow: 0;
}
.channel-body > .fader {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.channel-body > .out-control {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.channel-body > .channel-control {
    height: 160px;
    display: flex;
    flex-direction: column-reverse;
}

.channel-body.ignore-on {
    background: linear-gradient(
        #575757 0px,
        #636363 790px,
        rgb(0, 0, 0) 1px,
        #636363 800px,
        #414141 100%
    );
}

.channel-body.mute-on {
    background: linear-gradient(
        #202020 0px,
        #202020 790px,
        rgb(0, 0, 0) 1px,
        #2f2f2f 800px,
        #2f2f2f 100%
    );
}

.channel-gain-label {
    color: #777777;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

.channel-pgm-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    color: white;
    height: 90px;
    width: 80px;
    font-size: 105%;
    background-color: rgb(66, 27, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pgm-button.on {
    background-color: red;
}

.channel-pgm-button.mute {
    opacity: 0.3;
    color: rgb(117, 117, 117);
}

.channel-vo-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    color: white;
    height: 90px;
    width: 80px;
    font-size: 105%;
    background-color: rgb(66, 54, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-vo-button.on {
    background-color: rgb(207, 135, 1);
}

.channel-vo-button.mute {
    opacity: 0.3;
    color: rgb(117, 117, 117);
}

.channel-pst-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
    color: white;
    height: 90px;
    width: 80px;
    font-size: 103%;
    background-color: rgb(88, 88, 88);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
    margin-bottom: 0;
}

.channel-pst-button.on {
    background-color: rgb(34, 135, 20);
}

.channel-pst-button.vo {
    background-color: rgb(163, 106, 0);
}

.channel-mute-button,
.channel-amix-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    color: rgb(109, 108, 108);
    height: 50px;
    width: 80px;
    font-size: 90%;
    background-color: rgb(44, 44, 44);
    border-radius: 7px;
    border-color: rgb(109, 108, 108);
}

.channel-mute-button.on {
    background-color: rgb(168, 168, 168);
    color: rgb(48, 48, 48);
}

.channel-amix-button.on {
    background-color: rgb(78, 59, 97);
    color: rgb(255, 255, 255);
}
.channel-amix-button.disabled {
    visibility: hidden;
}

.channel-ignore-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 5px;
    color: rgb(109, 108, 108);
    height: 50px;
    width: 80px;
    font-size: 90%;
    background-color: rgb(44, 44, 44);
    border-radius: 7px;
    border-color: rgb(109, 108, 108);
}

.channel-ignore-button.on {
    background-color: rgb(168, 168, 168);
    color: rgb(1, 12, 114);
}

@keyframes pfl-active-flash {
    0% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50.0001% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
    100% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
}

.channel-strip-button {
    outline: none;
    -moz-outline: none;
    margin-left: 3px;
    margin-top: 5px;
    margin-right: 3px;
    color: white;
    height: 50px;
    width: 80px;
    font-size: 105%;
    background-color: rgba(39, 39, 39, 0.308);
    border-radius: 7px;
    border-color: rgba(99, 99, 99, 0.301);
}
.channel-strip-button.active {
    background-color: #2f475b;
}

.channel-volume-fader {
    width: 10px;
    height: calc(100% - 60px);
    margin: 30px 20px;
    background-color: rgb(15, 15, 15);
    border-color: rgba(0, 0, 0);
}

/* .channel-volume-fader::before,
.channel-volume-fader::after {
    content: '__';
    position: absolute;
    color: rgb(134, 134, 134);
    top: 92px;
}
.channel-volume-fader::before {
    left: 9px;
}
.channel-volume-fader::after {
    right: 9px;
} */

:focus {
    outline: 0;
}

.channel-zero-indicator {
    color: rgb(134, 134, 134);
    position: absolute;
    top: 206px;
    left: 37px;
}

.channel-zero-button {
    background-color: rgba(134, 134, 134, 0.048);
    color: #20202000;
    border-color: #20202000;
    position: absolute;
    top: 222px;
    right: 5px;
    height: 40px;
    width: 80%;
}

.not-found::after {
    content: ' ';
    z-index: 1;
    position: absolute;
    background-color: black;
    width: 86px;
    height: 950px;
    opacity: 0.65;
    top: 0;
}
