body.v-mic-tally {
    background: transparent;
}

.mic-tally-view {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 100%;
}

.mic-tally-list {
    display: flex;
    list-style: none;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.c-mic-tally {
    margin: 8px;
    flex: 1 1 80px;
    min-width: 80px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.c-mic-tally:not(:first-child) {
    margin-left: 8px;
}
.c-mic-tally__status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #444444;
    border: 2px solid #888888;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.c-mic-tally__status:active {
    background-color: #888888;
}

.c-mic-tally__status.on {
    color: red;
    background-color: #ffaaaa;
    border-color: red;
    font-size: 1em;
}

.c-mic-tally__status.on:active {
    background-color: red;
    color: white;
}

.c-mic-tally__label {
    display: block;
    color: white;
    font-weight: bold;
    margin-top: 6px;
    font-size: 0.9em;
}
