<!DOCTYPE html>
<html>
  <head>
    <!-- NB: Various Webpack settings are exposed in the template through the htmlWebpackPlugin object -->
    <!-- The title property maps onto whatever title you set in electron-webpack.json. -->
    <title>SISYFOS INTELLIGENT AUDIO CONTROLLER</title>
    <script>
      // This is a temp hack for the server-side logger package
      window.process = {
        env: {}
      }
    </script>
  </head>
  <body>
    <div id="root">


    </div>
     <!-- HtmlWebpackPlugin will inject a script tag to load your renderer bundle inside here. -->
  </body>
</html>
