node_modules
*.vscode
*.github
Dockerfile
Docs

*/dist
desktop

.gitignore
.dockerignore
.prettierignore
.prettierrc.json
jest.config.js
tsconfig.jest.json
tslint.json
.npmignore
.jshintrc
.editorconfig
webpack.config.js
