node_modules
*.vscode
*.github
Dockerfile

client
!client/dist
!client/package.json
server
!server/dist
!server/package.json
shared
!shared/package.json
desktop

.gitignore
.dockerignore
.prettierignore
.prettierrc.json
jest.config.js
tsconfig.jest.json
tslint.json
.npmignore
.jshintrc
.editorconfig
webpack.config.js
