node_modules
*.vscode
*.github
Dockerfile

client
server

.gitignore
.dockerignore
.prettierignore
.prettierrc.json
jest.config.js
tsconfig.jest.json
tslint.json
.npmignore
.jshintrc
.editorconfig
webpack.config.js