<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>d:/casparcg/media/</media-path>
    <log-path>d:/casparcg/log/</log-path>
    <data-path>d:/casparcg/data/</data-path>
    <template-path>d:/casparcg/template/</template-path>
    <thumbnail-path>d:/casparcg/thumbnail/</thumbnail-path>
    <font-path>d:/casparcg/font/</font-path>
  </paths>
  <log-level>debug</log-level>
  <mixer>
    <blend-modes>true</blend-modes>
    <mipmapping-default-on>false</mipmapping-default-on>
    <straight-alpha>true</straight-alpha>
  </mixer>
  <channels>
    <channel>
      <video-mode>1080i5000</video-mode>
      <channel-layout>8ch2</channel-layout>
      <consumers>
        <decklink>
                <device>7</device>
                <embedded-audio>true</embedded-audio>
                <channel-layout>16ch</channel-layout>
                <latency>normal</latency>
                <buffer-depth>5</buffer-depth>
            </decklink>
      </consumers>
    </channel>
    <channel>
      <video-mode>1080i5000</video-mode>
      <channel-layout>16ch</channel-layout>
      <consumers>
        <decklink>
                <device>8</device>
                <embedded-audio>true</embedded-audio>
                <channel-layout>16ch</channel-layout>
                <latency>normal</latency>
                <buffer-depth>5</buffer-depth>
            </decklink>
      </consumers>
    </channel>
    <channel>
      <video-mode>1080i5000</video-mode>
      <channel-layout>16ch</channel-layout>
      <consumers>
        <decklink>
                <device>4</device>
                <embedded-audio>true</embedded-audio>
                <channel-layout>16ch</channel-layout>
                <latency>normal</latency>
                <buffer-depth>5</buffer-depth>
            </decklink>
      </consumers>
    </channel>
  </channels>
<thumbnails>
    <generate-thumbnails>false</generate-thumbnails>
</thumbnails>
  <controllers>
    <tcp>
      <port>5250</port>
      <protocol>AMCP</protocol>
    </tcp>
    <tcp>
      <port>3250</port>
      <protocol>LOG</protocol>
    </tcp>
  </controllers>
<osc>
  <default-port>6250</default-port>
  <predefined-clients>
    <predefined-client>
      <address>192.168.0.32</address>
      <port>8000</port>
    </predefined-client>
  </predefined-clients>
</osc>
<audio>
  <channel-layouts>
    <channel-layout name="stk"         type="4ch-stk"    num-channels="4" channel-order="FL FR BL BR" />
    <channel-layout name="full"        type="4ch-full"   num-channels="4" channel-order="FL FR BL BR" />
    <channel-layout name="8ch2"        type="8ch2"       num-channels="8" channel-order="c0 c1 c2 c3 c4 c5 c6 c7" />
    <channel-layout name="4ch-dleft"   type="4ch-dleft"  num-channels="4" channel-order="FL FR BL BR" />
    <channel-layout name="4ch-dright"  type="4ch-dright" num-channels="4" channel-order="FL FR BL BR" />
  </channel-layouts>
  <mix-configs>
    <mix-config from-type="4ch-full"         to-types="8ch2"    mix="c0 = FL | c1 = FR | c2 = BL | c3 = BR" />
    <mix-config from-type="4ch-stk"          to-types="8ch2"    mix="c4 = FL | c5 = FR | c2 = BL | c3 = BR" />
    <mix-config from-type="4ch-dleft"        to-types="8ch2"    mix="c0 = FL | c1 = FL | c2 = BL | c3 = BR" />
    <mix-config from-type="4ch-dright"       to-types="8ch2"    mix="c0 = FR | c1 = FR | c2 = BL | c3 = BR" />
  </mix-configs>
</audio>
</configuration>
