.channel-body {
    background-color: #414040;
    color: white;
    background-color: #2f2f2f;
    margin: 4px;
    border-radius: 10px;
    max-width: 100px;
}

.channel-name {
    margin-top: 10px;
    text-align: center;
}
.channel-gain-label {
    color: #777777;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

.channel-pgm-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 130px;
    color: white;
    height: 40px;
    width: 80px;
    background-color: green;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pst-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 40px;
    width: 80px;
    background-color: red;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pfl-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 40px;
    width: 80px;
    background-color: rgb(9, 0, 59);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

@keyframes pfl-active-flash {
    0% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50.0001% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
    100% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
}

.channel-pfl-button.pfl-active {
    background-color: rgb(17, 0, 255);
    animation: 2s pfl-active-flash;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.channel-snap-body {
    margin-top: 10px;
}

.channel-snap-line {
    margin-top: 4px;
    background-color: #2b2b2b;
}

.channel-snap-button {
    outline : none;
    -moz-outline : none;
    color: rgb(41, 41, 41);
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 25px;
    width: 60px;
    border-radius: 7px;
    border-color: rgb(68, 68, 68);
}


.channel-volume-slider {

    transform: translate(-40px, 0) rotate(270deg) ;
    -moz-transform: translate(-40px, 0) rotate(270deg) ;

    /*do same for other browsers if required*/
    background-color: rgb(39, 39, 39);
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid #aaa;
    height: 50px;
    width: 70px;
    border-radius: 8px;
    background: linear-gradient(to left, #3a3a3a 0%, #c2c2c2 20%, #919191 50%, #00a 1px, #919191 52%, #c2c2c2 80%, #3a3a3a 100%);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -21px;
    position: relative;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
}