.channel-body {
    color: white;
    background-color: #2f2f2f;
    margin: 4px;
    border-radius: 10px;
    max-width: 100px;
    position: relative;
}

.channel-name {
    margin-top: 10px;
    text-align: center;
}
.channel-gain-label {
    color: #777777;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

.channel-pgm-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 260px;
    color: white;
    height: 90px;
    width: 80px;
    background-color: rgb(66, 27, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}


.channel-pgm-button.on {
    background-color: red;
}


.channel-vo-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 90px;
    width: 80px;
    background-color: rgb(66, 65, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}


.channel-vo-button.on {
    background-color: rgb(219, 179, 0);
}

.channel-pst-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 30px;
    color: white;
    height: 90px;
    width: 80px;
    background-color: rgb(59, 73, 59);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
    margin-bottom: 0;
}

.channel-pst-button.on {
    background-color: green;
}

.channel-pfl-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 90px;
    width: 80px;
    background-color: rgb(9, 0, 59);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pfl-button.on {
    background-color: rgb(17, 0, 255);
    animation: 2s pfl-active-flash;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.channel-body.with-snaps .channel-pgm-button, .channel-body.with-snaps .channel-pst-button, .channel-body.with-snaps .channel-pfl-button {
    height: 40px;
}

.channel-body.with-snaps .channel-pgm-button {
    margin-top: 187px;
}

.channel-body.with-snaps:not(.with-pfl) .channel-pst-button {
    margin-bottom: 44px;
}

@keyframes pfl-active-flash {
    0% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 1);
    }
    50.0001% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
    100% {
        box-shadow: 0 0 10px rgba(105, 140, 255, 0);
    }
}

.channel-snap-body {
    margin-top: 10px;
}

.channel-snap-line {
    margin-top: 4px;
    background-color: #2b2b2b;
}

.channel-snap-button {
    outline : none;
    -moz-outline : none;
    color: rgb(41, 41, 41);
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 25px;
    width: 60px;
    border-radius: 7px;
    border-color: rgb(68, 68, 68);
    color: rgb(89, 83, 10);
}

.channel-snap-button.on {
    color: rgb(183, 182, 20);
}


.channel-volume-slider {
    width: 460px;
    margin-top: 260px;
    transform: translate(-160px, 0px) rotate(270deg);

    /*do same for other browsers if required*/
    background-color: rgb(39, 39, 39);
}

.channel-body.with-snaps .channel-volume-slider {
    width: 220px;
    margin-top: 140px;
    transform: translate(-40px, 0) rotate(270deg);
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid #aaa;
    height: 50px;
    width: 70px;
    border-radius: 8px;
    background: linear-gradient(to left, #3a3a3a 0%, #c2c2c2 20%, #919191 50%, #00a 1px, #919191 52%, #c2c2c2 80%, #3a3a3a 100%);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -21px;
    position: relative;
}

input[color-pgm=pgm-on]::-webkit-slider-thumb {
    border: 1px solid rgb(253, 60, 60);
    background: linear-gradient(to left, #3a1d1d 0%, #c04d4d 20%, #811919 50%, #00a 1px, #8a2626 52%, #bd5151 80%, #411f1f 100%);
}

input[color-vo=vo-on]::-webkit-slider-thumb {
    border: 1px solid rgb(252, 255, 86);
    background: linear-gradient(to left, #353006 0%, #c59327 20%, #856b14 50%, #00a 1px, #866724 52%, #cca22d 80%, #463b0a 100%);
}


input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
}

.channel-settings {
    position: absolute;
    top: 5px;
    left: 9px;
    background: none;
    border: none;
    outline: none;
}

.channel-settings:hover > svg {
    fill: rgba(255, 255, 255, 0.5);
}

.channel-settings:active > svg {
    fill: rgba(255, 255, 255, 1);
}

.channel-settings > svg {
    width: 25px;
    height: 25px;
    fill: rgba(255, 255, 255, 0.3);
}

.channel-body.with-snaps .vumeter-body {
    height: 230px;
}
