.chan-strip-body {
	position: absolute;
	display: flex;
	top: 2px;
	left: 2px;
	width: 1880px;
	overflow: auto;
    height: 240px;
    background-color: rgb(31, 31, 31);
    border-color: rgb(124, 124, 124);
    border-style: solid;
	border-width: 4px;
	border-radius: 8px;
	text-align: left;
	z-index: 2;

	color: #fff;
}

.chan-strip-body > h2 {
	position: absolute;
	right: 100px;
	line-height: 30px;
	text-align: right;

}

.chan-strip-body > .vertical {
	transform: rotate(180deg);
	text-align: right;
	writing-mode: vertical-rl;
	text-orientation: right;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	line-height: 20px;
	font-size: 140%;
}

.chan-strip-body > .parameter-text {
	text-align: center;
	margin-top: 10px;
	line-height: 10px;
	font-size: 105%;
}

.chan-strip-body > .vertical-line {
	background-color:rgb(124, 124, 124);
	height: 100vh;
	width: 4px;
	margin-left: 10px;
	margin-right: 10px;
}

.chan-strip-body > .close {
	position: absolute;
	outline : none;
    border-color: rgb(99, 99, 99);
    background-color: rgb(27, 27, 27);
	border-radius: 100%;
	display: block;
	color: #fff;
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	top: -5px;
	right: 9px;
}

.chan-strip-body > button {
	line-height: 10px;
	outline : none;
    border-color: rgb(99, 99, 99);
    background-color: rgb(27, 27, 27);
    margin-right: 10px;
	margin-top: 120px;
    margin-bottom: 40px;
	margin-left: 50px;
	border-radius: 7px;
	color: #fff;
	width: 130px;
	font-size: 105%;
    line-height: 30px;
}

.chan-strip-fader {
    width: 10px;
	height: 200px;
	margin-left: 45px;
	margin-right: 40px;
    margin-top: 10px;
    border-width: 0px;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(17, 17, 17);
}

.chan-strip-thumb {
    margin-left: -20px;
    width: 55px;
    height: 49px;
    border: 1px solid #c5c2c2;
    border-radius: 8px;
    background: linear-gradient(to top, #3a3a3a 0%, #c2c2c2 20%, hsl(0, 0%, 57%) 50%, #00a 1px, #919191 52%, #c2c2c2 80%, #3a3a3a 100%);
}
