.channel-body {
    background-color: #414040;
    color: white;
    background-color: #2f2f2f;
    margin: 4px;
    border-radius: 10px;
    max-width: 100px;
}

.channel-name {
    margin-top: 10px;
    text-align: center;
}
.channel-gain-label {
    color: #777777;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

.channel-pgm-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 130px;
    color: white;
    height: 40px;
    width: 80px;
    background-color: green;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pst-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 40px;
    width: 80px;
    background-color: red;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-pfl-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 40px;
    width: 80px;
    background-color: red;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.channel-snap-body {
    margin-top: 10px;
}

.channel-snap-line {
    margin-top: 4px;
    background-color: #2b2b2b;
}

.channel-snap-button {
    outline : none;
    -moz-outline : none;
    color: rgb(41, 41, 41);
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 25px;
    width: 60px;
    border-radius: 7px;
    border-color: rgb(68, 68, 68);
}


.channel-volume-slider {

    transform: translate(-40px, 0) rotate(270deg) ;
    -moz-transform: translate(-40px, 0) rotate(270deg) ;

    /*do same for other browsers if required*/
    background-color: rgb(39, 39, 39);
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid white;
    height: 30px;
    width: 10px;
    border-radius: 8px;
    background: #919191;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
    background: #424242;
    border-radius: 5px;
    border: 1px solid black;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #353535;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
}

input[type=range]::-ms-fill-upper {
    background: #424242;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #222222, 0px 0px 2px #2f2f2f;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #111111, 0px 0px 1px #1e1e1e;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    background: #555bc8;
    cursor: pointer;
    height: 10px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #424242;
}

input[type=range]:focus::-ms-fill-upper {
    background: #4f4f4f;
}
