.grpFader-body {
    background-color: #25253a;
    color: white;
    margin: 4px;
    border-radius: 10px;
    max-width: 100px;
}

.grpFader-name {
    margin-top: 10px;
    text-align: center;
}
.grpFader-gain-label {
    color: #777777;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: center;
}

.grpFader-pgm-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 260px;
    color: white;
    height: 90px;
    width: 80px;
    background-color: rgb(66, 27, 27);
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.grpFader-pgm-button.on {
    background-color: red;
}

.grpFader-pst-button {
    outline : none;
    -moz-outline : none;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: 90px;
    width: 80px;
    background-color: green;
    border-radius: 7px;
    border-color: rgb(99, 99, 99);
}

.grpFader-pst-button.on {
    background-color: rgb(59, 73, 59);
}

.grpFader-body.with-snaps .grpFader-pgm-button, .grpFader-body.with-snaps .grpFader-pst-button {
    height: 40px;
}

.grpFader-body.with-snaps .grpFader-pgm-button {
    margin-top: 187px;
}

.grpFader-body.with-snaps .grpFader-pst-button {
    margin-bottom: 44px;
}
.grpFader-body.with-pfl .grpFader-pst-button {
    margin-bottom: 95px;
}
.grpFader-body.with-snaps.with-pfl .grpFader-pst-button {
    margin-bottom: 44px;
} 

.grpFader-snap-body {
    margin-top: 10px;
}

.grpFader-snap-line {
    margin-top: 4px;
    background-color: #2b2b2b;
}

.grpFader-snap-button {
    outline : none;
    -moz-outline : none;
    color: rgb(41, 41, 41);
    margin-left: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 25px;
    width: 60px;
    border-radius: 7px;
    border-color: rgb(68, 68, 68);
}


.grpFader-volume-slider {

    transform: translate(-40px, 0) rotate(270deg) ;
    -moz-transform: translate(-40px, 0) rotate(270deg) ;

    /*do same for other browsers if required*/
    background-color: rgb(39, 39, 39);
}