.eq-full {
    justify-content: space-evenly;
}

.eq-full > .eq-text {
    display: flex;
    justify-content: space-evenly;
    top: 2vh;
    left: 2vw;
    width: 75vw;
    height: 10vh;
    margin-left: 1vw;
    margin-top: 2vh;
}

.eq-text-parameters {
    max-width: 22vw;
}

.eq-full > .eq-window {
    top: 2vh;
    left: 2vw;
    margin-top: 3vh;
    margin-left: 4vw;
    height: 30vh;
    width: 0vw;
}

.eq-full > .eq-canvas {
    position: absolute;
    margin-left: -36.5vw;
    margin-top: 5vh;
    height: 30vh;
    width: 72vw;
}

.eq-window > .dot {
    position: absolute;
    font-size: 5vh;
    height: 10vh;
}

.chstrip-q {
    width: 15vw;
    height: 0.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vh;
    border-width: 0px;
    border-style: solid;
    border-radius: 8px;
    background-color: rgb(17, 17, 17);
}
.chstrip-q-thumb {
    margin-top: -2vh;
    color: #3a3a3a;
    font-size: 0.8vh;
    width: 3vw;
    height: 4vh;
    line-height: 4vh;
    border: 1px solid #c5c2c2;
    border-radius: 8px;
    background: linear-gradient(
        to right,
        #3a3a3a 0%,
        #c2c2c2 20%,
        hsl(0, 0%, 57%) 50%,
        #00a 1px,
        #919191 52%,
        #c2c2c2 80%,
        #3a3a3a 100%
    );
}
