.monitor-channel-body {
    color: white;
    background: linear-gradient(#2f2f2f 0px,#2f2f2f 790px, rgb(0, 0, 0) 1px, #2f2f2f 800px, #2f2f2f 100%);
    margin: 4px;
    border-radius: 7px;
    width: 86px;
    height: 86px;
    position: relative;
}

.monitor-channel-strip-button {
    outline : none;
    -moz-outline : none;
    margin-left: 3px;
    margin-top: 5px;
    margin-right: 3px;
    color: white;
    height: 80px;
    width: 80px;
    font-size: 105%;
    background-color: rgba(39, 39, 39, 0.308);
    border-radius: 7px;
    border-color: rgba(77, 77, 77, 0.301);
}

.monitor-channel-strip-button.on {
    background-color: rgb(146, 146, 146);
    border-color: rgba(102, 102, 102, 0.301);

}
