.vumeter-body {
    width: 24px;
    margin-left: 2px;
    margin-right: 4px;
    background-color: black;
    border-radius: 7px;
    height: 430px;
}

.vumeter-canvas {
    width: 10px;
    margin-left: 6px;
    bottom: 0;
    height: 100%;
    margin-top: 50%;
}

.vumeter-lower-part {
    position: absolute;
    width: 10px;
    margin-left: 10px;
    background-color: rgb(0, 122, 37);
}
.vumeter-middle-part {
    position: absolute;
    width: 10px;
    margin-left: 10px;
    background-color: rgb(53, 167, 0);
}
.vumeter-upper-part {
    position: absolute;
    width: 10px;
    margin-left: 10px;
    background-color: rgb(206, 0, 0);
}
